body, html{width:100%; min-width:100%; height:auto; min-height:100%; font-size:16px; font-family:'Tahoma'; font-weight:400; background:#FFF; color:#3D3030;}

@media(min-width:650px){
	body{min-height:100vh;}
}

*{padding:0px; margin:0px; box-sizing:border-box; outline:none;}
:before,:after{content:""; box-sizing:border-box;}
.lcol{float:left;}
.rcol{float:right;}
.clr{clear:both;}
.acb:after{display:block; height:0px; width:100%; clear:both; content:" ";}
.dtc{display:table-cell; vertical-align:middle; width:100%; height:100%;}
.tar{text-align:right;}
.tac{text-align:center;}
table, tr, td{border-collapse:collapse;}
input{line-height:1 !important; vertical-align:top;}
button, select{cursor:pointer;}
a{color:inherit; text-decoration:none;}

.flex{display:flex; flex-direction:row; align-items:center; justify-content:center; flex-wrap:wrap;}
.wrap{max-width:1350px; width:calc(100% - 10px); margin:0px auto; position:relative;}
.wrap.padding{padding:50px 0px;}
	.wrap:after{display:block; height:0px; width:100%; clear:both; content:" ";}
	.wrap.flex:after, .wrap.noacb:after, .wrap.flex:before, .wrap.noacb:before{display:none;}

@media(max-width:1650px){
.wrap{max-width:1260px;}
}
@media(max-width:1350px){
.wrap{max-width:1000px;}
}
@media(max-width:1050px){
.wrap{max-width:760px;}
}
@media(max-width:800px){
/*.wrap{max-width:100%;}*/
}